/* 
0-600px:        Phone
600-900px:      Tablet portrait
900-1200px:     Tablet landscape
[1200-1800]     is where our normal styles apply
1800px +:       Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottomScroll {
  0% {
    opacity: 0;
    transform: translate(-13px, 3rem); }
  100% {
    opacity: 1;
    transform: translate(-13px, 0); } }

@keyframes bg-animation {
  0% {
    background-position: left; }
  100% {
    background-position: right; } }

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    opacity: 1; }
  100% {
    top: 90%;
    opacity: 0; } }

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0); }
  50% {
    transform: translate(10px, 0); } }

.intro {
  background: #1C1D25;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center; }

.hide {
  background: #1C1D25;
  overflow: hidden; }

.hide span {
  transform: translateY(100%);
  display: inline-block; }

*,
*::after,
*::before {
  margin: 0rem;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }
  body li {
    list-style-type: none;
    list-style: none; }

::selection {
  background-color: #55c57a;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  /*  text-transform: uppercase; */
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    /* 
      animation-delay: 3s; 
      animation-iteration-count: 3;
      */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 0.7rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    /* animation: moveInRight 1s ease-out; */
    color: #55c57a; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-medium {
  margin-top: 5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-right-medium {
  margin-right: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-right-medium {
      margin-right: 3rem !important; } }

.ball {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  background: linear-gradient(45deg, #7ed56f, #28b485, #2998ff, #5643fa);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s; }

.btn {
  margin-right: 1rem; }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 1rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.2) scaleY(1.4);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn--green {
    background-color: #55c57a;
    color: #fff; }
    .btn--green::after {
      background-color: #55c57a; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; }
  @media only screen and (max-width: 37.5em) {
    .btn, .btn:link, .btn:visited {
      font-size: 2rem; }
    .btn--header {
      margin-bottom: 1.5rem;
      max-width: 180px; } }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid #999;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s;
  animation: moveInBottomScroll 0.5s ease-out 1.5s;
  animation-fill-mode: backwards;
  transform: translate(-13px, 0); }
  .scroll-down:hover, .scroll-down:active {
    transform: translate(-13px, 2px); }
  .scroll-down::before, .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid #999;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite; }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s; }

.follow-me {
  z-index: 1009;
  position: fixed;
  right: 0;
  text-align: center;
  top: calc(50% - (275px / 2));
  width: 85px;
  height: 280px;
  /* @include respond(phone) {
    
      bottom: 35px;
      width: 100%;
      height: auto;
      top: auto;
      left: 0;
      text-align: left;

      display: flex;
      flex-direction: row;
    

     ul {
      display: flex;
      flex-direction: row;
    }
  } */ }
  .follow-me a:hover {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(-20px, 0, 0); }
  .follow-me a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 85px;
    padding-right: 20px;
    margin-right: -20px;
    transition: transform 425ms cubic-bezier(0.05, 0.65, 0.18, 1); }
  .follow-me li small {
    font-size: 1.3rem; }
  .follow-me span {
    display: block;
    width: 65px;
    height: 65px;
    background: url(../img/icons.svg) no-repeat 0 1px;
    background-size: 100% auto;
    text-indent: -9999em; }
  .follow-me__github {
    background: #3F444B; }
    .follow-me__github span {
      background-position: 0 -65px; }
  .follow-me__linkedin {
    background: #0077B5; }
    .follow-me__linkedin span {
      background-position: 0 -260px; }
  .follow-me__instagram {
    background: radial-gradient(137.27% 137.27% at 9.89% 100%, #FDF497 0%, #FDF497 7.29%, #FD5949 42.71%, #D6249F 63.54%, #285AEB 100%); }
  @media only screen and (max-width: 56.25em) {
    .follow-me {
      width: 65px;
      height: 185px; }
      .follow-me a {
        width: 85px;
        height: 65px;
        padding-right: 20px;
        margin-right: -20px; }
      .follow-me span {
        width: 45px;
        height: 45px; }
      .follow-me__github {
        background: #3F444B; }
        .follow-me__github span {
          background-position: 0 -45px; }
      .follow-me__linkedin {
        background: #0077B5; }
        .follow-me__linkedin span {
          background-position: 0 -180px; }
      .follow-me__instagram {
        background: radial-gradient(137.27% 137.27% at 9.89% 100%, #FDF497 0%, #FDF497 7.29%, #FD5949 42.71%, #D6249F 63.54%, #285AEB 100%); } }
  @media only screen and (max-width: 37.5em) {
    .follow-me {
      width: 55px;
      height: 185px; }
      .follow-me a {
        width: 75px;
        height: 55px;
        padding-right: 20px;
        margin-right: -20px; }
      .follow-me span {
        width: 35px;
        height: 35px; }
      .follow-me__github {
        background: #3F444B; }
        .follow-me__github span {
          background-position: 0 -35px; }
      .follow-me__linkedin {
        background: #0077B5; }
        .follow-me__linkedin span {
          background-position: 0 -140px; }
      .follow-me__instagram {
        background: radial-gradient(137.27% 137.27% at 9.89% 100%, #FDF497 0%, #FDF497 7.29%, #FD5949 42.71%, #D6249F 63.54%, #285AEB 100%); } }

.header {
  background-color: #1C1D25;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px; }
  .header__text-box {
    display: flex;
    flex-direction: column; }
    .header__text-box--flex {
      display: flex;
      flex-direction: column; }
  @media only screen and (max-width: 37.5em) {
    .header__button-box {
      display: flex;
      flex-direction: column; } }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1C1D25;
  padding-right: 1rem;
  /* padding-top: 0.5rem; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease-out;
  z-index: 1000; }
  .navigation__list {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0 auto; }
  .navigation__item {
    margin: 1rem;
    display: flex;
    align-items: center; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 2.3rem;
    font-weight: 300;
    color: #f7f7f7;
    text-decoration: none;
    transition: all 0.2s; }
  .navigation__link:hover, .navigation__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.2); }
  .navigation__logo:link, .navigation__logo:visited {
    font-size: 4rem; }
  .navigation--hidden {
    transform: translateY(-88px);
    opacity: 0.5; }
    @media only screen and (min-width: 112.5em) {
      .navigation--hidden {
        opacity: 0; } }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1C1D25;
  padding: 10rem 0;
  color: #f7f7f7;
  font-size: 1.4rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #1C1D25;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }
  .footer__text {
    color: orange; }

.row {
  max-width: 95rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 95rem; }

.container-contact {
  width: 80%;
  margin: 0 auto;
  max-width: 120rem; }

.section-about {
  background-color: #eee;
  padding: 25rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-projects {
  background-color: #1C1D25;
  padding: 25rem 0 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-projects {
      padding: 20rem 0 10rem 0; } }

.section-contact {
  padding: 7rem 0;
  background-image: linear-gradient(to right bottom, #55c57a, #286313); }
  @media only screen and (max-width: 56.25em) {
    .section-contact {
      padding: 15rem 0; } }

.contact {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nature.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 75em) {
    .contact {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/nature.jpg);
      background-size: cover; } }
  @media only screen and (max-width: 56.25em) {
    .contact {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nature.jpg); } }
  .contact__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 75em) {
      .contact__form {
        width: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .contact__form {
        width: 100%; } }
