/* 
0-600px:        Phone
600-900px:      Tablet portrait
900-1200px:     Tablet landscape
[1200-1800]     is where our normal styles apply
1800px +:       Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottomScroll {
  0% {
    opacity: 0;
    transform: translate(-13px, 3rem); }
  100% {
    opacity: 1;
    transform: translate(-13px, 0); } }

@keyframes bg-animation {
  0% {
    background-position: left; }
  100% {
    background-position: right; } }

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    opacity: 1; }
  100% {
    top: 90%;
    opacity: 0; } }

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0); }
  50% {
    transform: translate(10px, 0); } }

.intro {
  background: #1c1d25;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center; }

.hide {
  background: #1c1d25;
  overflow: hidden; }

.hide span {
  transform: translateY(100%);
  display: inline-block; }

*,
*::after,
*::before {
  margin: 0rem;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }
  body li {
    list-style-type: none;
    list-style: none; }

::selection {
  background-color: #55c57a;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  /*  text-transform: uppercase; */
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    /* 
      animation-delay: 3s; 
      animation-iteration-count: 3;
      */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 0.5rem;
        line-height: 1.1;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    /* animation: moveInRight 1s ease-out; */
    color: #55c57a; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem;
        font-size: 2.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-medium {
  margin-top: 5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-right-medium {
  margin-right: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-right-medium {
      margin-right: 3rem !important; } }

/* about section card grid */
.about-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 3fr 1fr;
  grid-template-areas: "a a a b b" "d d d d c";
  grid-gap: 30px; }
  .about-grid .about__text-layout {
    grid-area: a; }
  .about-grid .about__img-box {
    grid-area: b;
    justify-self: end;
    align-self: center; }
  .about-grid .about__resume {
    grid-area: c;
    justify-self: end;
    align-self: center;
    margin-right: 0; }
  .about-grid .about__list {
    grid-area: d; }
  @media only screen and (max-width: 56.25em) {
    .about-grid {
      display: block; } }

.about {
  background-color: #1c1d25;
  padding: 5rem 3rem;
  border-radius: 0.5rem; }
  .about__heading {
    margin-bottom: 2rem; }
  .about__img-box {
    max-height: 300px;
    max-width: 300px;
    overflow: hidden;
    border-radius: 0.5rem;
    min-width: 200px; }
  .about__profile-img {
    max-width: 100%; }
  .about__text {
    color: #a4abc0;
    font-size: 2rem;
    margin-bottom: 2rem; }
  .about__list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    border-radius: 2rem;
    justify-content: center;
    align-items: center; }
    .about__list--item {
      margin: 0 auto 0 0; }
    .about__list--icon {
      height: 60px;
      width: 60px; }
  .about__resume {
    margin-bottom: 0.5rem; }
  @media only screen and (max-width: 56.25em) {
    .about {
      text-align: center;
      /* background-size: cover;
    background-position: center;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-grey-dark-4, 0.8), 
      rgba($color-grey-dark-4, 0.8)), url(../img/profileimg.jpeg); */ }
      .about__img-box {
        margin: 0 auto;
        /* display: none; */ }
      .about__resume {
        margin: 3rem 0; }
      .about__list--item {
        margin: 0 auto; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      text-align: left;
      background-size: cover;
      background-position: center;
      background-image: linear-gradient(to right bottom, rgba(28, 29, 37, 0.8), rgba(51, 51, 51, 0.8)), url(../img/profileimg.jpeg); }
      .about__text-layout {
        background: rgba(247, 247, 247, 0.1);
        padding: 2rem; }
      .about__text {
        color: #fff; }
      .about__img-box {
        display: none; } }

.ball {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  background: linear-gradient(45deg, #7ed56f, #28b485, #2998ff, #5643fa);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s; }

.btn {
  margin-right: 1rem; }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 1rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.2) scaleY(1.4);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn--green {
    background-color: #55c57a;
    color: #fff; }
    .btn--green::after {
      background-color: #55c57a; }
  .btn--green-gradient {
    background: linear-gradient(to right bottom, #55c57a, #286313);
    color: #fff; }
    .btn--green-gradient::after {
      background: linear-gradient(to right bottom, #55c57a, #286313); }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; }
  @media only screen and (max-width: 37.5em) {
    .btn, .btn:link, .btn:visited {
      font-size: 2rem; }
    .btn--header {
      margin-bottom: 1.5rem;
      max-width: 180px; } }

.project-btn, .project-btn:link, .project-btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  transition: all 0.2s;
  font-size: 1.6rem;
  text-align: center;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; }

.project-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .project-btn:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0; }

.project-btn:active, .project-btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.project-btn--white {
  background-color: #333;
  color: #eee; }
  .project-btn--white::after {
    background-color: #333; }

.project-btn--green-gradient {
  background: linear-gradient(to right bottom, #55c57a, #286313);
  color: #eee; }
  .project-btn--green-gradient::after {
    background: linear-gradient(to right bottom, #55c57a, #286313); }

@media only screen and (max-width: 37.5em) {
  .project-btn, .project-btn:link, .project-btn:visited {
    font-size: 2rem; }
  .project-btn--header {
    margin-bottom: 1.5rem;
    max-width: 180px; } }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.contact {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nature.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 75em) {
    .contact {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/nature.jpg);
      background-size: cover; } }
  @media only screen and (max-width: 56.25em) {
    .contact {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nature.jpg); } }
  .contact__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 75em) {
      .contact__form {
        width: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .contact__form {
        width: 100%; } }

.project-grid {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(47rem, 1fr));
  grid-gap: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .project-grid {
      display: block;
      grid-column: sidebar-end / full-end;
      padding: 0 3rem; } }

.project-box {
  background-color: #eee;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem; }
  .project-box__img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border-bottom: 3px solid #333; }
  .project-box__name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 3;
    justify-self: center;
    align-self: end;
    width: 60%;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background: #1c1d25;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%);
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    text-decoration: none; }
  .project-box__name:hover {
    background: #f7f7f7;
    color: #333;
    border: 1px solid #1c1d25;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .project-box__text {
    grid-column: 1 / -1;
    font-size: 2rem;
    text-align: left;
    margin-left: 4rem;
    margin-right: 4rem;
    font-weight: 500;
    color: #333; }
  .project-box__techs {
    font-size: 1.5rem;
    margin-left: 2rem; }
  .project-box__skill {
    font-size: 1.5rem;
    margin: 0 4rem;
    padding: 1rem 2rem;
    background-color: #1c1d25;
    border-radius: 1rem;
    color: #eee;
    display: flex;
    align-items: center;
    /* justify-content: center; */ }
    .project-box__skill svg {
      background: #1c1d25;
      height: 4rem;
      width: 4rem;
      margin-right: 1rem;
      margin-left: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .project-box {
      margin-bottom: 3rem; }
      .project-box__skill {
        flex-wrap: wrap; }
        .project-box__skill svg {
          margin: 0 auto; }
        .project-box__skill p {
          text-align: center;
          margin: 0 auto;
          font-size: 1.5rem; } }

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid #999;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s;
  animation: moveInBottomScroll 0.5s ease-out 1.5s;
  animation-fill-mode: backwards;
  transform: translate(-13px, 0); }
  .scroll-down:hover, .scroll-down:active {
    transform: translate(-13px, 2px); }
  .scroll-down::before, .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid #999;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite; }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s; }

.follow-me {
  z-index: 1009;
  position: fixed;
  right: 0;
  text-align: center;
  top: calc(50% - (275px / 2));
  width: 85px;
  height: 280px;
  /* @include respond(phone) {
    
      bottom: 35px;
      width: 100%;
      height: auto;
      top: auto;
      left: 0;
      text-align: left;

      display: flex;
      flex-direction: row;
    

     ul {
      display: flex;
      flex-direction: row;
    }
  } */ }
  .follow-me a:hover {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(-20px, 0, 0); }
  .follow-me a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 85px;
    padding-right: 20px;
    margin-right: -20px;
    transition: transform 425ms cubic-bezier(0.05, 0.65, 0.18, 1); }
  .follow-me li small {
    font-size: 1.3rem; }
  .follow-me span {
    display: block;
    width: 65px;
    height: 65px;
    background: url(../img/icons.svg) no-repeat 0 1px;
    background-size: 100% auto;
    text-indent: -9999em; }
  .follow-me__github {
    background: #3f444b; }
    .follow-me__github span {
      background-position: 0 -65px; }
  .follow-me__linkedin {
    background: #0077b5; }
    .follow-me__linkedin span {
      background-position: 0 -260px; }
  .follow-me__instagram {
    background: radial-gradient(137.27% 137.27% at 9.89% 100%, #fdf497 0%, #fdf497 7.29%, #fd5949 42.71%, #d6249f 63.54%, #285aeb 100%); }
  @media only screen and (max-width: 75em) {
    .follow-me {
      width: 75px;
      height: 185px; }
      .follow-me a {
        width: 95px;
        height: 75px;
        padding-right: 20px;
        margin-right: -20px; }
      .follow-me span {
        width: 55px;
        height: 55px; }
      .follow-me__github {
        background: #3f444b; }
        .follow-me__github span {
          background-position: 0 -55px; }
      .follow-me__linkedin {
        background: #0077b5; }
        .follow-me__linkedin span {
          background-position: 0 -220px; }
      .follow-me__instagram {
        background: radial-gradient(137.27% 137.27% at 9.89% 100%, #fdf497 0%, #fdf497 7.29%, #fd5949 42.71%, #d6249f 63.54%, #285aeb 100%); } }
  @media only screen and (max-width: 56.25em) {
    .follow-me {
      width: 65px;
      height: 185px; }
      .follow-me a {
        width: 85px;
        height: 65px;
        padding-right: 20px;
        margin-right: -20px; }
      .follow-me span {
        width: 45px;
        height: 45px; }
      .follow-me__github {
        background: #3f444b; }
        .follow-me__github span {
          background-position: 0 -45px; }
      .follow-me__linkedin {
        background: #0077b5; }
        .follow-me__linkedin span {
          background-position: 0 -180px; }
      .follow-me__instagram {
        background: radial-gradient(137.27% 137.27% at 9.89% 100%, #fdf497 0%, #fdf497 7.29%, #fd5949 42.71%, #d6249f 63.54%, #285aeb 100%); } }
  @media only screen and (max-width: 37.5em) {
    .follow-me {
      width: 55px;
      height: 185px; }
      .follow-me a {
        width: 75px;
        height: 55px;
        padding-right: 20px;
        margin-right: -20px; }
      .follow-me span {
        width: 35px;
        height: 35px; }
      .follow-me__github {
        background: #3f444b; }
        .follow-me__github span {
          background-position: 0 -35px; }
      .follow-me__linkedin {
        background: #0077b5; }
        .follow-me__linkedin span {
          background-position: 0 -140px; }
      .follow-me__instagram {
        background: radial-gradient(137.27% 137.27% at 9.89% 100%, #fdf497 0%, #fdf497 7.29%, #fd5949 42.71%, #d6249f 63.54%, #285aeb 100%); } }

.header {
  background-color: #1c1d25;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px; }
  .header__text-box {
    display: flex;
    flex-direction: column; }
    .header__text-box--flex {
      display: flex;
      flex-direction: column; }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding-left: 10px; }
      .header__button-box {
        display: flex;
        flex-direction: column; } }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1d25;
  padding-right: 1rem;
  /* padding-top: 0.5rem; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease-out;
  z-index: 1000; }
  .navigation__list {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0 auto; }
  .navigation__item {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 2.3rem;
    font-weight: 300;
    color: #f7f7f7;
    text-decoration: none;
    transition: all 0.2s; }
  .navigation__link:hover, .navigation__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.2); }
  .navigation__logo:link, .navigation__logo:visited {
    font-size: 4rem;
    color: #f7f7f7;
    text-decoration: none;
    transition: all 0.2s;
    font-weight: 300;
    margin-left: 1rem; }
  .navigation__logo:hover, .navigation__logo:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.2); }
  .navigation--hidden {
    transform: translateY(-88px);
    opacity: 0.5; }
    @media only screen and (min-width: 112.5em) {
      .navigation--hidden {
        opacity: 0; } }

/* .nav-container {
  width: 100%;
} */
.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff; }

@media only screen and (max-width: 37.5em) {
  .nav-container {
    position: relative; }
  .navigation__menu {
    display: flex;
    flex-direction: column;
    background: #1c1d25;
    margin: 0;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 70px;
    right: -100%;
    opacity: 0;
    transition: all 0.5s ease; }
  .navigation__menu.active {
    right: 0;
    opacity: 1; }
  .navigation--hidden {
    opacity: 0; }
  #mobile-menu {
    position: absolute;
    top: 21.5%;
    right: 5%;
    cursor: pointer;
    transform: translate(5%, 20%); }
  .menu-toggle .bar {
    display: block; }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0; }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg); }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg); } }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c1d25;
  padding: 10rem 0;
  color: #f7f7f7;
  font-size: 1.4rem;
  /*  &__logo {
    width: 15rem;
    height: auto;
  } */ }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem;
    flex-direction: column; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block;
    padding-bottom: 3rem;
    width: 100%; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #1c1d25;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s;
    font-size: 2rem;
    padding: 1rem 2rem; }
  .footer__link:hover, .footer__link:active {
    /* color: $color-primary; */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__link--logo:link, .footer__link--logo:visited {
    font-size: 4rem;
    font-weight: 300; }
  .footer__link--logo:hover, .footer__link--logo:active {
    color: #55c57a; }
  .footer__link--github:hover, .footer__link--github:active {
    color: #f7f7f7;
    background: #3f444b; }
  .footer__link--linkedin:hover, .footer__link--linkedin:active {
    color: #f7f7f7;
    background: #0077b5; }
  .footer__link--instagram:hover, .footer__link--instagram:active {
    color: #f7f7f7;
    background: radial-gradient(137.27% 137.27% at 9.89% 100%, #fdf497 0%, #fdf497 7.29%, #fd5949 42.71%, #d6249f 63.54%, #285aeb 100%); }
  .footer__link--website:link, .footer__link--website:visited {
    padding: 0 0.2rem; }
  .footer__link--website:hover, .footer__link--website:active {
    color: #55c57a; }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem; }
  .footer__text {
    color: orange; }
  @media only screen and (max-width: 56.25em) {
    .footer__copyright {
      margin: 0 auto; }
    .footer__navigation {
      width: 80%;
      text-align: center; }
    .footer__logo-box {
      margin-bottom: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer__logo-box {
      width: 80%; }
    .footer__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .footer__item:not(:last-child) {
      margin-right: 0;
      margin-bottom: 1rem; } }

.row {
  max-width: 95rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 95rem; }

.container-contact {
  width: 80%;
  margin: 0 auto;
  max-width: 120rem; }
  @media only screen and (max-width: 37.5em) {
    .container-contact {
      width: 90%; } }

.section-about {
  background-color: #eee;
  padding: 10rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 10rem 0; } }

.section-projects {
  background-color: #1c1d25;
  padding: 0 0 10rem 0;
  display: grid;
  /* grid-template-rows: 100vh min-content 40vw repeat(3, min-content); */
  grid-template-columns: [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  /* @include respond(tab-land) {
    padding: 3rem 0;
    display: block;
  } */ }
  @media only screen and (min-width: 112.5em) {
    .section-projects {
      padding: 0 0 25rem 0; } }

.section-contact {
  padding: 7rem 0;
  background-image: linear-gradient(to right bottom, #55c57a, #286313); }
  @media only screen and (max-width: 56.25em) {
    .section-contact {
      padding: 15rem 0; } }
