// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-primary-darker: #286313;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;
$color-grey-dark-4: #1C1D25;


$color-white: #fff;
$color-black: #000;

$color-instagram: radial-gradient(137.27% 137.27% at 9.89% 100%, #FDF497 0%, #FDF497 7.29%, #FD5949 42.71%, #D6249F 63.54%, #285AEB 100%);
$color-github: #3F444B;
$color-linkedin: #0077B5;

$color-gradient: linear-gradient(
    45deg,
    #7ed56f,
    #28b485,
    #2998ff,
    #5643fa
);

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 95rem;
$grid-width-2: 120rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;