.row {
  max-width: $grid-width;
  margin: 0 auto;
  
  &:not(:last-child) {
      margin-bottom: $gutter-vertical;

      @include respond(tab-port) {
          margin-bottom: $gutter-vertical-small;
      }
  }

  @include respond(tab-port) {
      max-width: 50rem;
      padding: 0 3rem;
  }

  @include clearfix;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: $grid-width;
}