.row {
  max-width: $grid-width;
  margin: 0 auto;
  
  &:not(:last-child) {
      margin-bottom: $gutter-vertical;

      @include respond(tab-port) {
          margin-bottom: $gutter-vertical-small;
      }
  }

  @include respond(tab-port) {
      max-width: 50rem;
      padding: 0 3rem;
  }

  @include clearfix;
}

/* .grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
} */

.container {
  width: 80%;
  margin: 0 auto;
  max-width: $grid-width;
}

.container-contact {
  width: 80%;
  margin: 0 auto;
  max-width: $grid-width-2;
}