.header {
  background-color: $color-grey-dark-4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__text-box {
    
    display: flex;
    flex-direction: column;

    &--flex {
      display: flex;
      flex-direction: column;
    }
  }
}
