.header {
  background-color: $color-grey-dark-4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 50px;

  &__text-box {
    
    
    display: flex;
    flex-direction: column;

    &--flex {
      display: flex;
      flex-direction: column;
    }
  }

  @include respond(phone) {
    padding-left: 10px;
    &__button-box {
      display: flex;
      flex-direction: column;
    }
  }
  
}
