/* about section card grid */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "a a a b b"
    "d d d d c";
  grid-gap: 30px;

  .about__text-layout {
    grid-area: a;
  }

  .about__img-box {
    grid-area: b;
    justify-self: end;
    align-self: center;
  }

  .about__resume {
    grid-area: c;
    justify-self: end;
    align-self: center;
    margin-right: 0;
  }

  .about__list {
    grid-area: d;
  }

  @include respond(tab-port) {
    display: block;
  }
}

.about {
  background-color: $color-grey-dark-4;
  padding: 5rem 3rem;
  border-radius: 0.5rem;

  &__heading {
    margin-bottom: 2rem;
  }

  &__img-box {
    max-height: 300px;
    max-width: 300px;
    overflow: hidden;
    border-radius: 0.5rem;
    min-width: 200px;
  }

  &__profile-img {
    max-width: 100%;
  }

  &__text {
    color: $color-slate;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;

    border-radius: 2rem;
    justify-content: center;
    align-items: center;

    &--item {
      margin: 0 auto 0 0;
    }

    &--icon {
      height: 60px;
      width: 60px;
    }
  }

  &__resume {
    margin-bottom: 0.5rem;
  }

  @include respond(tab-port) {
    text-align: center;
    /* background-size: cover;
    background-position: center;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-grey-dark-4, 0.8), 
      rgba($color-grey-dark-4, 0.8)), url(../img/profileimg.jpeg); */
    

    &__img-box {
      margin: 0 auto;
      /* display: none; */
    }

    &__resume {
      margin: 3rem 0;
    }

    &__list {
      &--item {
        margin: 0 auto;
      }
    }
  }

  @include respond(phone) {
    text-align: left;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-grey-dark-4, 0.8), 
      rgba($color-grey-dark-3, 0.8)), url(../img/profileimg.jpeg);

    &__text-layout {
      background: rgba($color-grey-light-1, 0.1);
      padding: 2rem;
    }

    &__text {
      color: $color-white;
    }
    &__img-box {
      display: none;
    }
  }

}
