.follow-me {
  z-index: 1009;
  position: fixed;
  right: 0;
  text-align: center;

  top: calc(50% - (275px / 2));
  width: 55px;
  height: 180px;

  & a:hover {
    -webkit-transform: translate3d(20px,0,0);
    transform: translate3d(-20px,0,0);
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 55px;
    padding-right: 20px;
    margin-right: -20px;
    transition: transform 425ms cubic-bezier(0.05, 0.65, 0.18, 1);
  }

  li {
    small {
      font-size: 1.7rem;
    }
  }

  span {
    display: block;
    width: 35px;
    height: 35px;
    background: url(../img/icons.svg) no-repeat 0 1px;
    background-size: 100% auto;
    text-indent: -9999em;
  }

  &__github {
    background: $color-github;
    

    span {
      background-position: 0 -35px;
    }
  }

  &__linkedin {
    background: $color-linkedin;

    span {
      background-position: 0 -140px;
    }
  }

  &__instagram {
    background: $color-instagram;
  }
}
