.follow-me {
  z-index: 1009;
  position: fixed;
  right: 0;
  text-align: center;

  top: calc(50% - (275px / 2));
  width: 85px;
  height: 280px;

  & a:hover {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 85px;
    padding-right: 20px;
    margin-right: -20px;
    transition: transform 425ms cubic-bezier(0.05, 0.65, 0.18, 1);
  }

  li {
    small {
      font-size: 1.3rem;
    }
  }

  span {
    display: block;
    width: 65px;
    height: 65px;
    background: url(../img/icons.svg) no-repeat 0 1px;
    background-size: 100% auto;
    text-indent: -9999em;
  }

  &__github {
    background: $color-github;

    span {
      background-position: 0 -65px;
    }
  }

  &__linkedin {
    background: $color-linkedin;

    span {
      background-position: 0 -260px;
    }
  }

  &__instagram {
    background: $color-instagram;
  }

  @include respond(tab-land) {
    width: 75px;
    height: 185px;

    a {
      width: 95px;
      height: 75px;
      padding-right: 20px;
      margin-right: -20px;
    }

    span {
      width: 55px;
      height: 55px;
    }

    &__github {
      background: $color-github;

      span {
        background-position: 0 -55px;
      }
    }

    &__linkedin {
      background: $color-linkedin;

      span {
        background-position: 0 -220px;
      }
    }

    &__instagram {
      background: $color-instagram;
    }
  }

  @include respond(tab-port) {
    width: 65px;
    height: 185px;

    a {
      width: 85px;
      height: 65px;
      padding-right: 20px;
      margin-right: -20px;
    }

    span {
      width: 45px;
      height: 45px;
    }

    &__github {
      background: $color-github;

      span {
        background-position: 0 -45px;
      }
    }

    &__linkedin {
      background: $color-linkedin;

      span {
        background-position: 0 -180px;
      }
    }

    &__instagram {
      background: $color-instagram;
    }
  }

  @include respond(phone) {
    width: 55px;
    height: 185px;
    
    a {
      width: 75px;
      height: 55px;
      padding-right: 20px;
      margin-right: -20px;
    }

    span {
      width: 35px;
      height: 35px;
    }

    &__github {
      background: $color-github;

      span {
        background-position: 0 -35px;
      }
    }

    &__linkedin {
      background: $color-linkedin;

      span {
        background-position: 0 -140px;
      }
    }

    &__instagram {
      background: $color-instagram;
    }
  }
  /* @include respond(phone) {
    
      bottom: 35px;
      width: 100%;
      height: auto;
      top: auto;
      left: 0;
      text-align: left;

      display: flex;
      flex-direction: row;
    

     ul {
      display: flex;
      flex-direction: row;
    }
  } */
}
