.section-about {
  background-color: $color-grey-light-2;
  padding: 10rem 0;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-projects {
  background-color: $color-grey-dark-4;
  padding: 0 0 10rem 0;

  display: grid;
  /* grid-template-rows: 100vh min-content 40vw repeat(3, min-content); */
  grid-template-columns: [sidebar-start] 2rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    ) [center-end] minmax(6rem, 1fr) [full-end];

  @include respond(big-desktop) {
    padding: 0 0 25rem 0;
  }
  /* @include respond(tab-land) {
    padding: 3rem 0;
    display: block;
  } */
}

.section-contact {
  padding: 7rem 0;
  background-image: linear-gradient(to right bottom, $color-primary, $color-primary-darker);

  @include respond(tab-port) {
    padding: 15rem 0;
  }
}
